In [3]:
var = [i for i in dir(set) if not i.startswith("__")]

for i in enumerate(var, 1):
    print(*i)

1 add
2 clear
3 copy
4 difference
5 difference_update
6 discard
7 intersection
8 intersection_update
9 isdisjoint
10 issubset
11 issuperset
12 pop
13 remove
14 symmetric_difference
15 symmetric_difference_update
16 union
17 update

In [2]:
s1 ={1,2,3,5,6,7,8}
# s2 ={7,8,9,10}
s1.add(0)
print(s1)

{0, 1, 2, 3, 5, 6, 7, 8}

In [5]:
s1 ={1,2,3,5,6,7,8}
# s2 ={7,8,9,10}
print(s1.clear())
s1

None

set()

In [9]:
s1 ={1,2,3,5,6,7,8}
s2 ={7,8,9,10}
print(s1.difference(s2))
s1.difference_update(s2)
print(s1)

{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6, 7, 8}

In [37]:

s1 ={1,2,3,5,6,7,8}
# s2 ={7,8,9,10}
s1.discard(3)
print(s1)

{1, 2, 5, 6, 7, 8}

In [14]:
s1 ={1,2,3,5,6,7,8}
s2 ={7,8,9,10}
print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)

{8, 7}
{8, 7}

{7, 8, 9, 10}

In [18]:
s1 ={1,2,3,5,6,7,8}
s2 ={9,10}
print(s1.isdisjoint(s2))
s2 ={7,8,9,10}
print(s1.isdisjoint(s2))

True
False

In [29]:
s1 ={1,2,3,5,6,7,8}
s2 ={0,7,8}
print(s1.issubset({0,12,12123,11}))
s2 ={7,8,9,10}
print(s1.issubset(s2))

False
False

In [34]:
s1 ={1,2,3,5,6,7,8}
# s2 ={7,8,9,10}
print(s1.pop())
print(s1.pop())
print(s1.pop())
print(s1.pop())
print(s1.pop())
print(s1.pop())
print(s1.pop())

1
2
3
5
6
7
8

In [40]:
s1 ={1,2,3,5,6,7,8}
s1.remove(8)
print(s1)

{1, 2, 3, 5, 6, 7}

In [42]:
s1 ={1,2,3,5,6,7,8}
s2 ={7,8,9,10}
print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 5, 6, 9, 10}
{1, 2, 3, 5, 6, 9, 10}

In [1]:
# 1 ,2,3,4,5
# 4 ,5,6,7,8 
# 1 ,2,3,4,5,6,7,8
s1 = {1 ,2,3,4,5}
s2 = {4 ,5,6,7,8}
print(s1.union(s2))
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}